<form name="players" action="/names" method="post">
  Player one name: <input type="text" name="player_one_name">
  Player two name: <input type="text" name="player_two_name">
<input type="submit" value="May the battle begin!">
</form>
